<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Upload and run</title>
  </head>

  <body>
      <div>
        <form action="/module" method="post" enctype="multipart/form-data">
          <input type="file" name="user_code">
          <button type="submit">upload</button>
        </form>
      </div>

      <div>
        <form action="/module/unload" method="get">
          <input type="text" name="name">
          <button type="submit">unload</button>
        </form>
      </div>

      <div>
          <input type="button" value="check" onclick="location.href='/module';" />
      </div>
  </body>
</html>